<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="myCustomerRepository" 
			class="com.pluralsight.repository.HibernateCustomerRepositoryImpl">
	</bean>
	
	<bean name="myCustomerService" 
			class="com.pluralsight.service.CustomerServiceImpl">
			<!-- Use this for setter injection
			<property name="customerRepository" ref="myCustomerRepository"/>
			-->
			
			<!-- DOing constructor injection -->
			<constructor-arg index="0" ref="myCustomerRepository"></constructor-arg>
	</bean>
	

</beans> 
